#container {
    background: url('./background.jpg') no-repeat center center fixed; /* Default background */
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
