.about-us-container {
    padding: 40px;
    background: #f5f5f5;
    color: #333;
    min-height: 100vh; /* Ensure the container covers the full viewport height */
  }
  
  .about-us-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-us-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50; /* Darker color for header */
  }
  
  .about-us-header p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }
  
  .about-us-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .company-description, .achievements, .our-values, .contact-us {
    background: #9b8989; /* White background for each section */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for separation */
    margin-bottom: 40px;
  }
  
  .company-description h2, .achievements h2, .our-values h2, .contact-us h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50; /* Darker color for section titles */
  }
  
  .company-description p, .our-values p, .contact-us p {
    font-size: 16px;
    line-height: 1.6;
    color: #282424;
  }
  
  .achievements ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }
  
  .achievements li {
    font-size: 16px;
    color: #282424;
  }
  
  .contact-us p {
    font-size: 16px;
  }
  
  .contact-us strong {
    color: #333;
  }
  